<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.dao.IndexHistoryMapper">
	<resultMap id="BaseResultMap" type="com.lw.entity.IndexHistory">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="index_code" jdbcType="VARCHAR" property="indexCode" />
		<result column="trade_date" jdbcType="DATE" property="tradeDate" />
		<result column="open" jdbcType="DECIMAL" property="open" />
		<result column="high" jdbcType="DECIMAL" property="high" />
		<result column="low" jdbcType="DECIMAL" property="low" />
		<result column="close" jdbcType="DECIMAL" property="close" />
		<result column="trade_year" jdbcType="INTEGER" property="tradeYear" />
		<result column="trade_month" jdbcType="INTEGER" property="tradeMonth" />
		<result column="trade_week" jdbcType="INTEGER" property="tradeWeek" />
	</resultMap>
	<sql id="Base_Column_List">
		id, index_code, trade_date, open, high, low, close, trade_year,
		trade_month, trade_week
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from index_history
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from index_history
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from index_history
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" keyColumn="id" keyProperty="id"
		parameterType="com.lw.entity.IndexHistory" useGeneratedKeys="true">
		insert into index_history (index_code, trade_date, open,
		high, low, close, trade_year,
		trade_month, trade_week)
		values (#{indexCode,jdbcType=VARCHAR}, #{tradeDate,jdbcType=DATE},
		#{open,jdbcType=DECIMAL},
		#{high,jdbcType=DECIMAL}, #{low,jdbcType=DECIMAL}, #{close,jdbcType=DECIMAL},
		#{tradeYear,jdbcType=INTEGER},
		#{tradeMonth,jdbcType=INTEGER}, #{tradeWeek,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" keyColumn="id" keyProperty="id"
		parameterType="com.lw.entity.IndexHistory" useGeneratedKeys="true">
		insert into index_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="indexCode != null">
				index_code,
			</if>
			<if test="tradeDate != null">
				trade_date,
			</if>
			<if test="open != null">
				open,
			</if>
			<if test="high != null">
				high,
			</if>
			<if test="low != null">
				low,
			</if>
			<if test="close != null">
				close,
			</if>
			<if test="tradeYear != null">
				trade_year,
			</if>
			<if test="tradeMonth != null">
				trade_month,
			</if>
			<if test="tradeWeek != null">
				trade_week,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="indexCode != null">
				#{indexCode,jdbcType=VARCHAR},
			</if>
			<if test="tradeDate != null">
				#{tradeDate,jdbcType=DATE},
			</if>
			<if test="open != null">
				#{open,jdbcType=DECIMAL},
			</if>
			<if test="high != null">
				#{high,jdbcType=DECIMAL},
			</if>
			<if test="low != null">
				#{low,jdbcType=DECIMAL},
			</if>
			<if test="close != null">
				#{close,jdbcType=DECIMAL},
			</if>
			<if test="tradeYear != null">
				#{tradeYear,jdbcType=INTEGER},
			</if>
			<if test="tradeMonth != null">
				#{tradeMonth,jdbcType=INTEGER},
			</if>
			<if test="tradeWeek != null">
				#{tradeWeek,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lw.entity.IndexHistory">
		update index_history
		<set>
			<if test="indexCode != null">
				index_code = #{indexCode,jdbcType=VARCHAR},
			</if>
			<if test="tradeDate != null">
				trade_date = #{tradeDate,jdbcType=DATE},
			</if>
			<if test="open != null">
				open = #{open,jdbcType=DECIMAL},
			</if>
			<if test="high != null">
				high = #{high,jdbcType=DECIMAL},
			</if>
			<if test="low != null">
				low = #{low,jdbcType=DECIMAL},
			</if>
			<if test="close != null">
				close = #{close,jdbcType=DECIMAL},
			</if>
			<if test="tradeYear != null">
				trade_year = #{tradeYear,jdbcType=INTEGER},
			</if>
			<if test="tradeMonth != null">
				trade_month = #{tradeMonth,jdbcType=INTEGER},
			</if>
			<if test="tradeWeek != null">
				trade_week = #{tradeWeek,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lw.entity.IndexHistory">
		update index_history
		set index_code = #{indexCode,jdbcType=VARCHAR},
		trade_date = #{tradeDate,jdbcType=DATE},
		open = #{open,jdbcType=DECIMAL},
		high = #{high,jdbcType=DECIMAL},
		low = #{low,jdbcType=DECIMAL},
		close = #{close,jdbcType=DECIMAL},
		trade_year = #{tradeYear,jdbcType=INTEGER},
		trade_month = #{tradeMonth,jdbcType=INTEGER},
		trade_week = #{tradeWeek,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>